# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven
log/
tmp/

# IDE
.idea/
*.iml
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db

# Env
.env

# Logs
*.log

# Angular
.angular/

# Node
node_modules/
dist/
